# 是否优先本地
prefer-workspace-packages = true
# 是否创建软链到 node_modules
link-workspace-packages = true
# 自动安装 peerDependencies
auto-install-peers = true
# 忽略 peerDependencies 报错
strict-peer-dependencies=false
# 关闭强制检查 Node.js 版本
engine-strict=true
# 使用淘宝镜像
registry=https://registry.npmmirror.com
# 超时时间
timeout=130000
# 重试次数
retry=3

